---
import ButtonDemo from "../button-demo.astro"

const css = `
@keyframes Ripple_useClipPath {
  0% {
    clip-path: circle(0% at center);
    opacity: 0;
  }
  100% {
    clip-path: circle(100% at center);
    opacity: 0.2;
  }
}
`
---

<ButtonDemo css={css}>
  <button class="ef-Ripple">animate clip-path</button>
</ButtonDemo>

<style>
  .ef-Ripple {
    background-color: var(--dark-color);
    color: var(--light-color);
    position: relative;
    overflow: hidden;
  }

  .ef-Ripple::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    transition-property: clip-path, opacity;
    transition-duration: 0.7s, 1.4s;
    transition-timing-function: ease-out;
    background-image: radial-gradient(circle, #d2daff 100%, transparent 100%);
    opacity: 0;
    clip-path: circle(0% at center);
  }

  .ef-Ripple:hover::before {
    clip-path: circle(100% at center);
    opacity: 0.2;
  }
</style>
