---
import TutorialPage from "@/layouts/TutorialPage.astro"
import type { AstroInstance } from "astro"
import { CollectionEntry, getCollection } from "astro:content"

export async function getStaticPaths() {
  const posts = await getCollection("compare-pattern")
  return posts.map(entry => {
    return {
      params: { slug: entry.slug },
      props: {
        entry,
      },
    }
  })
}

interface Props {
  entry: CollectionEntry<"compare-pattern">
}

const { entry } = Astro.props
const { title } = entry.data

const module = await import.meta.glob<true, string, AstroInstance>(
  ["../../../components/animations/**/*.astro"],
  {
    eager: true,
  },
)

const demos = Object.entries(module)
  .filter(([path]) => path.split("/").at(-2) === entry.slug)
  .map(([, content]) => content.default)
  .reverse()
---

<TutorialPage title={title}>
  <h1>{title}</h1>
  {demos.map(Demo => <Demo />)}
</TutorialPage>

<style>
  * {
    font-family: "Libertinus", Georgia, Cambria, "Times New Roman", Times, serif;
  }
</style>
