---
import TutorialPage from "@/layouts/TutorialPage.astro"
---

<TutorialPage title="塗りから上下線に変わる">
  <div class="root"><button class="base ef-FillToLine">Fill To Line</button></div>
</TutorialPage>

<style>
  .root {
    display: grid;
    min-height: 100vh;
    place-content: center;
  }

  button {
    appearance: none;
    border: 0;
    background: inherit;
    cursor: pointer;
  }

  .base {
    --bg-color: #333;
    --color: #fff;
    padding-block: 1em;
    padding-inline: 1.2em;
    text-align: center;
    text-transform: uppercase;
  }

  .ef-FillToLine {
    --duration: 0.3s;
    position: relative;
    color: var(--color);
    transition-duration: var(--duration);
    transition-property: color, letter-spacing;
  }

  .ef-FillToLine:hover {
    color: var(--bg-color);
    letter-spacing: 2px;
  }

  .ef-FillToLine::before,
  .ef-FillToLine::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: block;
    transform: scaleX(0);
    transform-origin: center;
    transition-duration: var(--duration);
    transition-property: transform, opacity;
    transition-delay: 0s;
    transition-timing-function: ease;
  }

  .ef-FillToLine::before {
    border-block: 1px solid #666;
    transform: scaleX(0);
    opacity: 0;
  }

  .ef-FillToLine:hover::before {
    transform: scaleX(1);
    opacity: 1;
  }

  .ef-FillToLine::after {
    background-color: var(--bg-color);
    transform: scaleX(1);
    opacity: 1;
    z-index: -1;
  }

  .ef-FillToLine:hover::after {
    transform: scaleX(0);
    opacity: 0;
  }
</style>
