---
import TutorialPage from "@/layouts/TutorialPage.astro"
---

<TutorialPage title="表示するテキストが入れ替わる">
  <div class="root">
    <button class="base ef-FadeToggleLayer">
      <div class="Layer --before">Before</div>
      <div class="Layer --after">After</div>
    </button>
  </div>
</TutorialPage>

<style>
  .root {
    display: grid;
    min-height: 100vh;
    place-content: center;
  }

  button {
    appearance: none;
    border: 0;
    background: inherit;
    cursor: pointer;
  }

  .base {
    --bg-color: #333;
    --color: #fff;
    --radius: 9999px;
    text-align: center;
    text-transform: uppercase;
    border-radius: var(--radius);
  }

  .ef-FadeToggleLayer {
    --duration: 0.3s;
    display: grid;
  }

  .Layer {
    grid-area: 1 / 1;
    width: 100%;
    height: 100%;
    padding-block: 1em;
    padding-inline: 2em;
    box-sizing: border-box;
    border-radius: var(--radius);
    transition-duration: var(--duration);
    transition-property: opacity, visibility;
  }

  .Layer.--before {
    opacity: 1;
    visibility: visible;
    background-color: var(--bg-color);
    color: var(--color);
  }

  .Layer.--after {
    opacity: 0;
    visibility: hidden;
    background-color: var(--color);
    color: var(--bg-color);
  }

  .ef-FadeToggleLayer:hover .Layer.--after {
    opacity: 1;
    visibility: visible;
  }

  .ef-FadeToggleLayer:hover .Layer.--before:hover {
    opacity: 0;
    visibility: hidden;
  }
</style>
