---
import ButtonDemo from "../button-demo.astro"

const css = `
@keyframes SpreadBg {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}`
---

<ButtonDemo css={css}>
  <button class="ef-SpreadBg">
    <div class="ef-SpreadBg__inner">Animate Transform</div>
  </button>
</ButtonDemo>

<style>
  .ef-SpreadBg {
    position: relative;
    color: var(--dark-color);
    border: 1px solid var(--dark-color);
  }

  .ef-SpreadBg__inner {
    position: relative;
    z-index: 2;
  }

  .ef-SpreadBg::before {
    content: "";
    position: absolute;
    inset: 0;
    inline-size: 100%;
    block-size: 100%;
    background-color: #ecc5fb;
    transform: scale(0, 0);
    transform-origin: center center;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    z-index: 1;
  }

  .ef-SpreadBg:hover::before {
    transform: scale(1, 1);
  }
</style>
