---
import ButtonDemo from "../button-demo.astro"

const css = `
@keyframes Blur_LargerBlurRadius {
  0% {
    filter: blur(0);
  }
  100% {
    filter: blur(10px);
  }
}`
---

<ButtonDemo css={css}>
  <button class="ef-Blur">Animate</button>
</ButtonDemo>

<style>
  .ef-Blur {
    background-color: var(--dark-color);
    color: var(--light-color);
    filter: blur(0);
    transition: none;
  }

  .ef-Blur:hover {
    filter: blur(10px);
    transition-property: filter;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
  }
</style>
