<button class="hvr-RadialOut"><div class="button-inner">RadialOut</div></button>

<style>
  button {
    appearance: none;
    border: 0;
    padding: 1em;
    font-size: 1em;
    cursor: pointer;
    background: #e1e1e1;
    position: relative;
    transition-duration: 0.3s;
  }

  button::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #2098d1;
    transition-duration: 0.3s;
    z-index: 1;
  }

  .button-inner {
    position: relative;
    z-index: 2;
  }

  .hvr-RadialOut {
    color: #666;
    transition-property: color;
  }

  .hvr-RadialOut:hover {
    color: white;
  }

  .hvr-RadialOut::before {
    clip-path: ellipse(0 0);
    transition-property: clip-path;
  }

  .hvr-RadialOut:hover::before {
    clip-path: ellipse(75% 75%);
  }
</style>
