<button class="hvr-ShutterOutHorizontal"
  ><div class="button-inner">ShutterOutHorizontal</div></button
>

<style>
  button {
    appearance: none;
    border: 0;
    padding: 1em;
    font-size: 1em;
    background: #2098d1;
    cursor: pointer;
    position: relative;
    transition-duration: 0.3s;
  }

  button::before,
  button::after {
    content: "";
    position: absolute;
    inset-block: 0;
    background: #e1e1e1;
    transition-duration: 0.3s;
    margin: -1px;
    z-index: 1;
  }

  button::before {
    inset-inline-start: 0;
    inset-inline-end: 50%;
  }

  button::after {
    inset-inline-start: 50%;
    inset-inline-end: 0;
  }

  .button-inner {
    position: relative;
    z-index: 2;
  }

  .hvr-ShutterOutHorizontal {
    color: #666;
    transition-property: color;
  }

  .hvr-ShutterOutHorizontal:hover {
    color: white;
  }

  .hvr-ShutterOutHorizontal::before,
  .hvr-ShutterOutHorizontal::after {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition-property: clip-path;
  }

  .hvr-ShutterOutHorizontal:hover::after {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }

  .hvr-ShutterOutHorizontal:hover::before {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
</style>
