<button class="hvr-ShutterInVertical"><div class="button-inner">ShutterInVertical</div></button>

<style>
  button {
    appearance: none;
    border: 0;
    padding: 1em;
    font-size: 1em;
    background: #e1e1e1;
    cursor: pointer;
    position: relative;
    transition-duration: 0.3s;
  }

  button::before,
  button::after {
    content: "";
    position: absolute;
    inset-inline: 0;
    background: #2098d1;
    transition-duration: 0.3s;
    margin: -1px;
    z-index: 1;
  }

  button::before {
    inset-block-start: 0;
    inset-block-end: 50%;
  }

  button::after {
    inset-block-start: 50%;
    inset-block-end: 0;
  }

  .button-inner {
    position: relative;
    z-index: 2;
  }

  .hvr-ShutterInVertical {
    color: #666;
    transition-property: color;
  }

  .hvr-ShutterInVertical:hover {
    color: white;
  }

  .hvr-ShutterInVertical::before {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition-property: clip-path;
  }

  .hvr-ShutterInVertical::after {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    transition-property: clip-path;
  }

  .hvr-ShutterInVertical:hover::before,
  .hvr-ShutterInVertical:hover::after {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
</style>
