<button class="hvr-SweepToTop"><div class="button-inner">SweepToTop</div></button>

<style>
  button {
    appearance: none;
    border: 0;
    padding: 1em;
    font-size: 1em;
    cursor: pointer;
    background: #e1e1e1;
    position: relative;
    transition-duration: 0.3s;
  }

  button::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #2098d1;
    transition-duration: 0.3s;
    z-index: 1;
  }

  .button-inner {
    position: relative;
    z-index: 2;
  }

  .hvr-SweepToTop {
    color: #666;
    transition-property: color;
  }

  .hvr-SweepToTop:hover {
    color: white;
  }

  .hvr-SweepToTop::before {
    clip-path: inset(100% 0 0 0);
    transition-property: clip-path;
  }

  .hvr-SweepToTop:hover::before {
    clip-path: inset(0);
  }
</style>
