<button class="hvr-Float">Float</button>

<style>
  button {
    appearance: none;
    border: 0;
    padding: 1em;
    font-size: 1em;
    cursor: pointer;
    background: #e1e1e1;
    color: #666;
    transition-duration: 0.3s;
  }

  .hvr-Float {
    translate: 0 0;
    transition-property: translate;
  }

  .hvr-Float:hover {
    translate: 0 -8px;
  }
</style>
