<button class="hvr-Grow">Grow</button>

<style>
  button {
    appearance: none;
    border: 0;
    padding: 1em;
    font-size: 1em;
    cursor: pointer;
    background: #e1e1e1;
    color: #666;
    transition-duration: 0.3s;
  }

  .hvr-Grow {
    scale: 1;
    transition-property: scale;
  }

  .hvr-Grow:hover {
    scale: 1.1;
  }
</style>
