<button><div class="button-inner">LineUpFillDown</div></button>

<style>
  button {
    appearance: none;
    border: 0;
    padding: 1em;
    font-size: 1em;
    cursor: pointer;
    background: #e1e1e1;
    position: relative;
    transition-duration: 0.5s;
    transition-delay: 0s;
  }

  button::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #2098d1;
    transition-duration: 0.5s;
    transition-delay: 0s;
    z-index: 1;
  }

  button::after {
    content: "";
    position: absolute;
    inset-inline: -2px;
    inset-block: 0;
    border: 2px solid #2098d1;
    border-block: 0;
    transition-duration: 0.5s;
    transition-delay: 0s;
  }

  .button-inner {
    position: relative;
    z-index: 2;
  }

  button {
    color: #666;
    transition-property: color;
  }

  button:hover {
    color: white;
    transition-delay: 0.5s;
  }

  button::after {
    clip-path: inset(100% 0 0 0);
  }

  button::before {
    clip-path: inset(0 0 100% 0);
    transition-property: clip-path;
  }

  button:hover::before,
  button:hover::after {
    clip-path: inset(0);
  }

  button:hover::before {
    transition-delay: 0.35s;
  }
</style>
