<button class="hvr-Shrink">Shrink</button>

<style>
  button {
    appearance: none;
    border: 0;
    padding: 1em;
    font-size: 1em;
    cursor: pointer;
    background: #e1e1e1;
    color: #666;
    transition-duration: 0.3s;
  }

  .hvr-Shrink {
    scale: 1;
    transition-property: scale;
  }

  .hvr-Shrink:hover {
    scale: 0.9;
  }
</style>
