---
interface Props {
  html: string
}

const { html } = Astro.props
---

<div class="story">
  <div class="demo-area" set:html={html} />
</div>

<style>
  .story {
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
  }
  .demo-area {
    color: black;
    background: white;
  }
</style>
