---
import ButtonDemo from "../button-demo.astro"

const css = `
@keyframes width {
  0% {
    inline-size: 0;
  }
  100% {
    inline-size: 100%;
  }
}`
---

<ButtonDemo css={css}>
  <button class="ef-FlowBg">
    <div class="ef-FlowBg__inner">Animate</div>
  </button>
</ButtonDemo>

<style>
  .ef-FlowBg {
    position: relative;
    color: var(--dark-color);
  }

  .ef-FlowBg__inner {
    position: relative;
    z-index: 2;
  }

  .ef-FlowBg::before {
    content: "";
    position: absolute;
    inset: 0;
    inline-size: 0;
    block-size: 100%;
    background-color: #ecc5fb;
    transition: none;
    z-index: 1;
  }

  .ef-FlowBg:hover::before {
    inline-size: 100%;
    transition-property: inline-size;
    transition-duration: 0.5s;
    transition-timing-function: var(--ease-out);
  }
</style>
