---
import "./base.css"
import Prism from "@astrojs/prism/Prism.astro"
---

<button class="ef-FlowBg">
  <div class="ef-FlowBg__inner">Animate Clip-Path</div>
</button>

<Prism
  lang="css"
  code={`@keyframes FlowBg_useClipPath {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  100% {
    clip-path: inset(0);
  }
}`}
/>

<style>
  .ef-FlowBg {
    position: relative;
    color: var(--dark-color);
  }

  .ef-FlowBg__inner {
    position: relative;
    z-index: 2;
  }

  .ef-FlowBg::before {
    content: "";
    position: absolute;
    inset: 0;
    inline-size: 100%;
    block-size: 100%;
    background-color: #ecc5fb;
    clip-path: inset(0 100% 0 0);
    transition-property: clip-path;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    z-index: 1;
  }

  .ef-FlowBg:hover::before {
    clip-path: inset(0);
  }
</style>
