---
import Prism from "@astrojs/prism/Prism.astro"
---

<button class="ef-FlowBg">
  <div class="ef-FlowBg__inner">Animate Transform</div>
</button>

<Prism
  lang="css"
  code={`@keyframes FlowBg_useTransform {
  0% {
    transform-origin: left;
    transform: scaleX(0);
  }
  100% {
    transform-origin: left;
    transform: scaleX(1);
  }
}`}
/>

<style>
  @import "./base.css";

  .ef-FlowBg {
    position: relative;
    color: var(--dark-color);
  }

  .ef-FlowBg__inner {
    position: relative;
    z-index: 2;
  }

  .ef-FlowBg::before {
    content: "";
    position: absolute;
    inset: 0;
    inline-size: 100%;
    block-size: 100%;
    background-color: #ecc5fb;
    transform: scaleX(0);
    transform-origin: left;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    z-index: 1;
  }

  .ef-FlowBg:hover::before {
    transform: scaleX(1);
  }
</style>
