---
import { Icon } from "astro-icon"
---

<expand-section class="ExpandSection">
  <h1 class="Summary">
    <button class="OpenControlButton" type="button" aria-controls="#detail" aria-expanded="false">
      <Icon class="OpenControlButton__icon" name="pepicons-print-plus" />
      disclosure
    </button>
  </h1>
  <div class="Details" id="detail">
    <p class="Details__content">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus, maxime esse animi quo
      soluta unde. Repellendus, odio veniam ea hic, et architecto soluta vero nam voluptatem cumque
      iste nesciunt quod.
    </p>
  </div>
</expand-section>

<style>
  h1,
  p {
    margin: 0;
  }
  h1 {
    font-size: 1.5rem;
    font-weight: normal;
  }
  button {
    appearance: none;
    border: 0;
    background: inherit;
    cursor: pointer;
    padding: 0;
    font: inherit;
  }
  expand-section {
    display: block;
  }

  .ExpandSection {
    position: relative;
    height: fit-content;
    border: 1px solid #ccc;
  }

  .OpenControlButton {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.8rem;
    padding: 1.5rem;
  }

  .OpenControlButton__icon {
    width: 1.2em;
    color: #6e85b7;
  }

  .Details {
    /* position: absolute;
    inset: 0;
    width: 100%;
    height: 100%; */
    transform: scaleY(0);
    transform-origin: top;
    /* margin-bottom: -100%;
    transition-property: transform, margin-bottom; */
    z-index: -1;
    display: none;
  }

  @keyframes slideDown {
    0% {
      display: none;
      transform: scaleY(0);
    }
    1% {
      display: block;
      transform: scaleY(0);
    }
    100% {
      display: block;
      transform: scaleY(100%);
    }
  }

  @keyframes slideUp {
    0% {
      display: block;
      transform: scaleY(100%);
    }
  }

  :has([aria-expanded="true"]) ~ .Details {
    /* transform: scaleY(100%);
    margin-bottom: 0; */
    animation-name: slideDown;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    display: block;
  }

  :has([aria-expanded="false"]) ~ .Details {
    animation-name: slideDown;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-direction: reverse;
  }

  .Details__content {
    padding: 1.5rem;
    margin: 0 1.5rem 1.5rem;
    text-align: justify;
    background: #f3f3f3;
  }
</style>

<script>
  class ExpandSection extends HTMLElement {
    constructor() {
      super()
      let open = false
      const summaryButton = this.querySelector("button")
      summaryButton?.addEventListener("click", () => {
        console.log("cliked")
        open = !open
        summaryButton?.setAttribute("aria-expanded", open.toString())
      })
    }
  }
  customElements.define("expand-section", ExpandSection)
</script>
